/*
Dado que la version de CSS no admite variables, aqui esta cada color usado y su uso para cada valor


NA  Negro:      #010102     light   #2e2d2d     dark    #000000
NA  Blanco:     #ebeaea     light   #ffffff     dark    #b9b8b8
NA  Primario:   #4d52ff     light   #9be7ff     dark    #9be7ff

X   Rojo:       #ef5350
F   verde-claro #98ee99
8   Rojo:       #ef5350
7   cafe:       #8d6e63
6   cyan:       #26c6da
5   rosa:       #ec407a
4   morado:     #7e57c2
3   naranja:    #ffa726
2   Verde:      #66bb6a
1   azul:       #4d52ff

*/



.button{
    -fx-border-color: none;
    -fx-border-width: 2px;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-background-color: #b9b8b8;
    -fx-font-size: 1.5em;
    -fx-background-size: 1.5em;
}

.large-text{
    -fx-font-size: 2em;
    -fx-background-size: 2em;
}

.small-text{
    -fx-font-size: 1em;
    -fx-background-size: 1em;
}

.game-box{
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-font-weight: bold;
    
}

.game-box:hover{
    -fx-border-color: #010102;
    -fx-border-width: 2px;
    -fx-animated: true;
}

.game-box:pressed{
    -fx-background-color: #ebeaea;
}

.game-box:disabled{
    -fx-opacity: 1.0;
    -fx-border-color: #b9b8b8;
    -fx-background-color: #ffffff;
}

.flagged{
    -fx-border-color: none;
    -fx-background-color: #98ee99;
    -fx-background-image: url('../icons/flag.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.value-x:disabled{
    -fx-background-image: url('../icons/mine.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: none;
    -fx-background-color: #ef5350;
}

.value-0{
    -fx-text-fill: #ffffff;
  }

.value-0:disabled{
    -fx-border-color: #ebeaea;
}

.value-1{
    -fx-text-fill: #4d52ff;
}

.value-2{
    -fx-text-fill: #66bb6a;
}

.value-3{
    -fx-text-fill: #ffa726;
}

.value-4{
    -fx-text-fill: #7e57c2;
}

.value-5{
    -fx-text-fill: #ec407a;
}

.value-6{
    -fx-text-fill: #26c6da;
}

.value-7{
    -fx-text-fill: #8d6e63;
}

.value-8{
    -fx-text-fill: #ef5350;
}
.main-container{
    -fx-background-color: #ffffff;
    -fx-text-fill: #010102;

}

.game-menu{
    -fx-background-color: #ebeaea;
}

.board-container{

    -fx-hgap: 2px;
    -fx-vgap: 2px;
}