/*
Dado que la version de CSS no admite variables, aqui esta cada color usado y su uso para cada valor


NA  Negro:      #232323
NA  Blanco:     #fafafafa     light   #ffffff     dark    #b8b8b8

X   Rojo:       #ef5350
F   Verde:      #8ce10b
8   Rojo:       #ef5350
7   cafe:       #8d6e63
6   cyan:       #00d8eb
5   rosa:       #ec407a
4   morado:     #6d43a6
3   amarillo:   #ffb900
2   Verde:      #8ce10b
1   azul:       #008df8

*/
@font-face {
    src:
            url("../fonts/Montserrat-Regular.ttf")
            url("../fonts/Montserrat-SemiBold.ttf");
}


.button{
    -fx-border-color: none;
    -fx-border-width: 2px;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-background-color: #b8b8b8;
    -fx-background-size: 1.5em;
    -fx-font-family: "Montserrat SemiBold";
    -fx-label-padding: 0.5em;
}

.button:hover{
    -fx-border-color: #232323;
    -fx-border-width: 2px;
}

.button:pressed{
    -fx-background-color: #fafafafa;
}

.label{
    -fx-wrap-text: true;
}

.text-field{
    -fx-text-alignment: center;
    -fx-padding: 0.5em 1em 0.5em 1em;
    -fx-border-width: 2px;
    -fx-border-radius: 2em;
    -fx-background-radius: 2em;
    -fx-background-color: #fafafafa;
}

.text-field:focused{
    -fx-background-color: #ffffff;
    -fx-border-color: #232323;
}

.text-field:hover{
    -fx-border-color: #232323;
}

.text-area{
    -fx-background-color: #fafafafa;
    -fx-border-radius: 2em;
    -fx-background-radius: 2em;
}

.found:disabled{
    -fx-background-color: #8ce10b;
    -fx-font-size: 2em;
    -fx-font-family: "Gontserrat Bold";
}

.text-area:disabled{
    -fx-opacity: 1;
    -fx-border-color: none;
    -fx-background-color: #ffffff
}

.centered-text{
    -fx-text-alignment: center;
    -fx-column-halignment: center;

}

.main-title{
    -fx-text-alignment: center;
    -fx-font-size: 4em;
    -fx-font-family: "Montserrat SemiBold";
}

.info{
    -fx-background-radius: 2em;
    -fx-text-alignment: center;
    -fx-alignment: center;

    -fx-wrap-text: true;
    -fx-padding: 1em;
    -fx-vgap: 0.5em;
}


.wide{
    -fx-max-width: Infinity;
}

.tall{
    -fx-max-height: Infinity;
}

.large-text{
    -fx-font-size: 1.5em;
    -fx-background-size: 1.5em;
}

.small-text{
    -fx-font-size: 1em;
    -fx-background-size: 1em;
}

.easy-selected{
    -fx-background-color: #00d8eb;
    -fx-border-color: #232323;
}

.normal-selected{
    -fx-background-color: #ffb900;
    -fx-border-color: #232323;
}

.hard-selected{
    -fx-background-color: #ef5350;
    -fx-border-color: #232323;
}

.game-box{
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-font-weight: bold;
}

.game-box:disabled{
    -fx-opacity: 1.0;
    -fx-border-color: #b8b8b8;
    -fx-background-color: #ffffff;
}

.flagged{
    -fx-border-color: none;
    -fx-background-color: #8ce10b;
    -fx-background-image: url('../icons/flag.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.flagged:disabled{
    -fx-border-color: none;
    -fx-background-color: #8ce10b;
    -fx-background-image: url('../icons/flag.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.value-x:disabled{
    -fx-background-image: url('../icons/mine.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: none;
    -fx-background-color: #ef5350;
}

.value-0{
    -fx-text-fill: #ffffff;
  }

.value-0:disabled{
    -fx-border-color: #fafafafa;
}

.value-1{
    -fx-text-fill: #008df8;
}

.value-2{
    -fx-text-fill: #8ce10b;
}

.value-3{
    -fx-text-fill: #ffb900;
}

.value-4{
    -fx-text-fill: #6d43a6;
}

.value-5{
    -fx-text-fill: #ec407a;
}

.value-6{
    -fx-text-fill: #00d8eb;
}

.value-7{
    -fx-text-fill: #7a3b2d;
}

.value-8{
    -fx-text-fill: #ef5350;
}
.main-container{
    -fx-background-color: #ffffff;
    -fx-text-fill: #232323;
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
    -fx-hgap: 0.5em;
    -fx-vgap: 0.5em;
    -fx-alignment: center;
}

.game-menu{
    -fx-background-color: #fafafafa;
}

.board-container{
    -fx-hgap: 2px;
    -fx-vgap: 2px;
}

.victory{
    -fx-background-color: rgba(140, 225, 11, 0.25);
}

.defeat{
    -fx-background-color: rgba(239, 83, 80, 0.25);
}